<div class="container">
  <mat-card class="question-card">
    <mat-card-header>
      <mat-card-title class="question-title">YES/NO形式の質問をどうぞ！</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="question-form" [formGroup]="questionForm">
            <!-- 氏名の入力フォーム -->
            <mat-form-field class="input-field">
              <input matInput placeholder="質問(文の最後に？をつけてください)"
                id="question" name="question" formControlName="question">
              <mat-error *ngIf="questionForm.controls.question.errors?.isNoQuestionMark">
                文末に？をつけてください
              </mat-error>
            </mat-form-field>
          </form>
    </mat-card-content>
  </mat-card>
</div>
<app-answer [answer]="answer"></app-answer>
