app-question {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .question-card {
      width: 100%;
    }
  }

  .question-form {
    display: flex;
    flex-direction: column;
  }

  .question-title {
    font-weight: bold;
    font-size: 22px;
    color: #3f51b5;
  }

  .input-field {
    margin: 10px;
  }

  .register-button {
    margin: 10px;
  }
  .response {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .answer {
      position: absolute;
      z-index: 10;
      font-weight: bold;
      font-size: 80px;
      color: white;
    }
    .gif {
      width: 100%;
    }
  }
}
